.page-about {

    .partners-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        // max-width: 40%;

        // .partners-box {
        //     max-width: 30%;
        // }

        img {
            width: 30%;
            max-height: 300px;
            transform: scale(0.5);
        }
        h3 {
            display: none;
        }
        p {
            display: none;
        }
    }

}