.page-about {
  //   <---- MOBILE ---->

  display: flex;
  flex-direction: column;

  .tab-pane {
    display: block;
  }
  .nav {
    display: block;
  }

  @include media($desktop) {
    .nav {
      display: flex;
      justify-content: space-around;
      margin: auto;

      li {
        padding: 0;
      }

      a {
        text-decoration: none;
        color: $color_paragraph;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $color_white;
          border-color: transparent;
          background: $color_blue;
          border-radius: 2px;
          padding: $base__space-unit / 4;
        }
      }
    }

    .nav .active a {
      color: $color_blue;
      border-bottom: 2px solid $color_blue;
      &:hover {
        border-color: transparent;
        background: $color_blue;
        color: white;
      }
    }

    .tab-pane {
      display: none;
    }

    .tab-pane.active {
      display: block;
    }
  }
}
