.page-about {
  //   <---- MOBILE ---->

  .site-main {
    @include media($tablet) {
      .testimonial-header-title {
        display: none;
      }
    }

    .testimonials-slider {
      display: block;
      width: 100%;
      height: 550px;

      @include media($tablet) {
        display: none;
      }

      .testimonial-item {
        margin: 0 auto;
        height: 550px;
        width: 100%;
      }
      .flickity-viewport {
        margin: 0 auto;
        width: 100%;
      }
      .testimonial-box {
        display: flex;
        margin: 0 auto;
        text-align: center;
        font-family: $font_main;
        border: 2px solid $color_blue;
        box-shadow: 5px 5px $color_blue;
        border-radius: $border-radius;
        flex-direction: column;
        width: 60%;
        height: 530px;

        &:nth-child(odd) {
          border: 2px solid $color_yellow;
          box-shadow: 5px 5px $color_yellow;
          border-radius: $border-radius;
        }

        .testimonial-photo {
          margin: $base__space-unit auto;
          justify-self: center;
          min-width: 50%;
          min-height: 40%;
          border-radius: 50%;
          object-position: center;
        }
        .testimonial-content {
          margin: $base__space-unit / 2;
        }

        .testimonial-name {
          margin: 0;
        }
        .testimonial-title {
          margin: 0;
          padding-bottom: $base__space-unit;
        }
      }
    }

    .testimonial-container {
      display: none;

      @include media($tablet) {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $base__space-unit;
        padding-top: $base__space-unit * 2;
      }

      .testimonial-box {
        display: flex;
        margin: auto;
        text-align: center;
        font-family: $font_main;
        border: 2px solid $color_blue;
        box-shadow: 5px 5px $color_blue;
        border-radius: $border-radius;
        flex-direction: column;
        max-width: 450px;
        height: 450px;
        overflow: hidden;

        &:nth-child(odd) {
          border: 2px solid $color_yellow;
          box-shadow: 5px 5px $color_yellow;
          border-radius: $border-radius;
        }

        .testimonial-photo {
          margin: $base__space-unit auto;
          justify-self: center;
          min-width: 50%;
          min-height: 40%;
          border-radius: 50%;
          object-position: center;
        }
        .testimonial-content {
          margin: $base__space-unit / 2;
        }

        .testimonial-name {
          margin: 0;
        }
        .testimonial-title {
          margin: 0;
          padding-bottom: $base__space-unit;
        }
      }
    }
  }
}
