.page-about {
  //   <---- MOBILE ---->

  .partners-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $base__space-unit;

    .partners-box {
      display: flex;
      margin: 0;
    }
    .img-box {
      margin: auto;
      img {
        padding: 0;
        width: 100%;
        max-height: 150px;
      }
    }

    h3 {
      display: none;
    }
    p {
      display: none;
    }
  }

  @include media($tablet) {

    .partners-title {
      display: none;
    }
    .partners-container {
      grid-template-rows: repeat(auto, 1fr);
      grid-template-columns: repeat(2, 1fr);
      padding-top: $base__space-unit * 3;

      .partners-box {
        max-width: 100%;

        .img-box {
          display: flex;
          border: 1px solid black;
          border-radius: 10px;
          align-items: flex-start;
          margin: 0 $base__space-unit/2;
          min-width: 150px;
          max-width: 150px;
          height: 140px;

          img {
            margin: auto;
            object-fit: cover;
            object-position: center;
            max-width: 150px;
            max-height: 130px;
          }
        }

        .partners-info {
          flex-direction: column;

          h3 {
            display: block;
            align-items: flex-start;
            margin-top: 0;
          }
          p {
            display: block;
            // align-items: flex-end;
          }
        }
      }
    }
  }
}
