.page-about {
  //   <---- MOBILE ---->

  .site-main {

    @include media($desktop) {
      .testimonial-title {
        display: none;
      }
    }

    .testimonial-container {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
      grid-gap: $base__space-unit;
      padding-top: $base__space-unit;

      .testimonial-box {
        display: flex;
        margin: auto;
        text-align: center;
        font-family: $font_main;
        border: 2px solid $color_blue;
        box-shadow: 5px 5px $color_blue;
        border-radius: 5px;
        flex-direction: column;
        max-width: 480px;
        height: 450px;
        overflow: hidden;

        &:nth-child(odd) {
          border: 2px solid $color_yellow;
          box-shadow: 5px 5px $color_yellow;
          border-radius: 5px;
        }

        .testimonial-photo {
          margin: $base__space-unit auto;
          justify-self: center;
          min-width: 50%;
          min-height: 40%;
          border-radius: 50%;
          object-position: center;
        }
        .testimonial-content {
          margin: $base__space-unit / 2;
        }

        .testimonial-name {
          margin: 0;
        }
        .testimonial-title {
          margin: 0;
          padding-bottom: $base__space-unit;
        }
      }
    }
  }
}
