.post_classes-template-default {
  h2 {
    margin: 0 0 2rem 0;
  }
  article {
    padding: $site-padding-mobile;
    @include media($tablet) {
      padding: 0 $site-padding 2rem;
    }
  }
  .class-header {
    @include media($tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
      margin: 2rem 0;
    }
    .post-thumbnail {
      border-radius: $border-radius;
      width: 100%;
      height: 200px;
      object-fit: cover;
      @include media($tablet) {
        height: 300px;
      }
    }

    h2 {
      color: $color_blue;
    }
    .bold-data {
      padding: 2rem 0;
      font-size: 1.75rem;
      font-weight: bold;
      color: $color_paragraph;
      border-bottom: 1px solid $color_paragraph;

      @include media($tablet) {
        font-size: 1rem;
        font-weight: normal;
        padding: 1rem 0;
      }
    }
    .class-data-container {
      p {
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
      }
      width: 75%;
      @include media($tablet) {
        padding: 0;
        width: 100%;
      }
    }
    .class-meta {
      padding: 0 0 2rem 0;

      img {
        margin-right: 1rem;
      }
    }
    .class-location-contact {
      padding-top: 4rem;
      display: flex;
      justify-content: space-between;
      @include media($tablet) {
        padding-top: 2rem;
      }
    }
    .price {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  section {
    padding-bottom: 2rem;
    @include media($tablet) {
      width: 30%;
      padding-top: 2rem;
    }
  }

  .instructor {
    display: flex;
    div {
      width: 50%;
      @include media($tablet) {
        width: 100%;
      }
      .instructor-image-desktop {
        display: none;
        @include media($tablet) {
          display: block;
          margin-bottom: 2rem;
          box-shadow: 0 1px 4px $color_black;
          width: 148px;
          height: 148px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
    .instructor-image {
      margin: 0 auto;
      box-shadow: 0 1px 4px $color_black;
      width: 148px;
      height: 148px;
      border-radius: 50%;
      object-fit: cover;
      @include media($tablet) {
        display: none;
      }
    }
  }
  .class-content {
    @include media($tablet) {
      display: flex;
      justify-content: space-between;
    }
  }

  .button-container {
    display: flex;
    justify-content: space-around;
    button {
      font-family: $font_header;
      font-size: 1rem;
      padding: 0.75rem 3rem;
    }
  }
}
