.community-blog-container {
  padding: 3vw 0 10vw 0;

  .search-pagination {
    a {
      color: $color_black;
    }
    margin: 0 auto;
    @include media($header-break) {
      display: none;
    }
  }

  .category-container {
    padding-top: 2rem;
    display: flex;
    a {
      display: none;
      color: $color_paragraph;
      font-family: $font_main;
      font-weight: bold;
      font-size: 1.25rem;
      @include media($header-break) {
        display: block;
        padding: 0 2.5rem 1rem 0;
      }
    }
  }
}
.post-container {
  display: flex;
  flex-direction: column;
  @include media($header-break) {
    padding-bottom: 2rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}
.button-box {
  display: none;

  @include media($header-break) {
    display: block;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    .white-btn {
      padding: 0.75rem 2.5rem;
      font-weight: bold;
      font-size: 1rem;
      border: 1px solid $color_blue;
      border-color: $color_blue;
      border-radius: 6px;
      font-family: $font_header;
    }
  }
}

.site-card {
  display: flex;
  text-align: left;
  border: 2px solid lightgrey;
  border-bottom: 3px solid lightgrey;
  border-right: 3px solid lightgrey;
  border-radius: 4px;
  width: 90%;
  height: 105px;
  margin: 0.4rem auto;
  overflow: hidden;

  @include media($header-break) {
    box-shadow: 0 1px 4px $color_black;
    border: 1px solid $color_grey;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    overflow: hidden;
  }

  .image-container {
    display: none;
    @include media($header-break) {
      display: block;
      min-height: 65%;
      overflow: hidden;
    }
  }

  img {
    height: 100px;
    width: 100px;
    margin-right: 0.5rem;
    object-fit: cover;
    @include media($header-break) {
      display: none;
    }
  }

  .post-meta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 0.75rem;

    @include media($header-break) {
      border-top: 1px solid $color_grey;
      box-shadow: none;
      min-height: 35%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    div {
      height: 69%;
      overflow: hidden;
      @include media($header-break) {
        max-height: 70%;
        overflow: hidden;
        font-family: $font_main;
      }
    }
    .post-title-mobile {
      display: block;
      @include media($header-break) {
        display: none;
      }
    }
    .post-title {
      display: none;
      @include media($header-break) {
        display: block;
      }
    }
    h3,
    h2 {
      margin: 0;
    }
    .post-data {
      color: $color_paragraph;
      text-transform: uppercase;
      font-weight: 200;
      font-size: $font_size_main - 4px;
      @include media($header-break) {
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 0.75rem;
        margin: 0;
      }
    }
    .post-title,
    .post-title-mobile {
      font-size: $font_size_main;
      font-family: $font_header;
      margin-bottom: auto;
      @include media($header-break) {
        margin: 0;
        font-size: 1rem;
      }
    }
    p {
      align-self: end;
      margin-top: auto;

      @include media($header-break) {
        font-size: 1rem;
        font-family: $font_main;
        color: $color_blue;
        text-transform: uppercase;
      }
    }
  }
}
