.community-blog-container {
  padding: 3vw 0 10vw 0;

  .search-pagination {
    a {
      color: $color_black;
    }
    margin: 0 auto;
    @include media($header-break) {
      display: none;
    }
  }

  .category-container {
    padding-top: 2rem;
    display: flex;
    a {
      display: none;
      color: $color_paragraph;
      font-family: $font_main;
      font-weight: bold;
      font-size: 1.25rem;
      @include media($header-break) {
        display: block;
        padding: 0 2.5rem 1rem 0;
      }
    }
  }
}
.post-container {
  display: flex;
  flex-direction: column;
  @include media($header-break) {
    padding-bottom: 2rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}
.button-box {
  display: none;

  @include media($header-break) {
    display: block;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    .white-btn {
      padding: 0.75rem 2.5rem;
      font-weight: bold;
      font-size: 1rem;
      border: 1px solid $color_blue;
      border-color: $color_blue;
      border-radius: 6px;
      font-family: $font_header;
    }
  }
}

.post-card {
  @include mobile-card;
  @include media($header-break) {
    @include desktop-card;
  }
}
