.blog {
  .content-area {
    padding: 0 $site-padding-mobile;
    @include media($tablet) {
      padding: 0 $site-padding;
    }
  }
  .community-event-container {
    width: 100%;

    .post-container {
      display: none;
      @include media($tablet) {
        .events-card {
          @include desktop-card;
        }
        display: grid;
        grid-template-rows: repeat(1, 1fr);
      }
    }
    .events-flickity {
      height: 400px;
      display: block;
      .flickity-viewport {
        height: 400px;
      }
      .events-flickity-item {
        width: 100%;
        padding: 6% 25%;
        .events-card {
          @include desktop-card;
          height: 325px;
        }
      }
      @include media($tablet) {
        display: none;
      }
    }
  }
}
