.page-find-classes {

    .page-banner {
        background-color: $color_blue;
        height: 275px;

        h1 {
            color: $color_white;
        }
        h3 {
            color: $color_white;
        }
    }

    
}