/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

// Titillium is enqueued inside functions.php as a Google Font

// Gotham

@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/gotham-font/Gotham-ThinItalic.eot');
  src: url('../../fonts/gotham-font/Gotham-ThinItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/gotham-font/Gotham-ThinItalic.woff2') format('woff2'),
    url('../../fonts/gotham-font/Gotham-ThinItalic.woff') format('woff'),
    url('../../fonts/gotham-font/Gotham-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/gotham-font/Gotham-Thin.eot');
  src: url('../../fonts/gotham-font/Gotham-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/gotham-font/Gotham-Thin.woff2') format('woff2'),
    url('../../fonts/gotham-font/Gotham-Thin.woff') format('woff'),
    url('../../fonts/gotham-font/Gotham-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/gotham-font/Gotham-Light.eot');
  src: url('../../fonts/gotham-font/Gotham-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/gotham-font/Gotham-Light.woff2') format('woff2'),
    url('../../fonts/gotham-font/Gotham-Light.woff') format('woff'),
    url('../../fonts/gotham-font/Gotham-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/gotham-font/Gotham-BoldItalic.eot');
  src: url('../../fonts/gotham-font/Gotham-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/gotham-font/Gotham-BoldItalic.woff2') format('woff2'),
    url('../../fonts/gotham-font/Gotham-BoldItalic.woff') format('woff'),
    url('../../fonts/gotham-font/Gotham-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/gotham-font/Gotham-Medium.eot');
  src: url('../../fonts/gotham-font/Gotham-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/gotham-font/Gotham-Medium.woff2') format('woff2'),
    url('../../fonts/gotham-font/Gotham-Medium.woff') format('woff'),
    url('../../fonts/gotham-font/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/gotham-font/Gotham-Black.eot');
  src: url('../../fonts/gotham-font/Gotham-Black.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/gotham-font/Gotham-Black.woff2') format('woff2'),
    url('../../fonts/gotham-font/Gotham-Black.woff') format('woff'),
    url('../../fonts/gotham-font/Gotham-Black.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/gotham-font/Gotham-Book.eot');
  src: url('../../fonts/gotham-font/Gotham-Book.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/gotham-font/Gotham-Book.woff2') format('woff2'),
    url('../../fonts/gotham-font/Gotham-Book.woff') format('woff'),
    url('../../fonts/gotham-font/Gotham-Book.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/gotham-font/Gotham-Bold.eot');
  src: url('../../fonts/gotham-font/Gotham-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/gotham-font/Gotham-Bold.woff2') format('woff2'),
    url('../../fonts/gotham-font/Gotham-Bold.woff') format('woff'),
    url('../../fonts/gotham-font/Gotham-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/gotham-font/Gotham-MediumItalic.eot');
  src: url('../../fonts/gotham-font/Gotham-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/gotham-font/Gotham-MediumItalic.woff2') format('woff2'),
    url('../../fonts/gotham-font/Gotham-MediumItalic.woff') format('woff'),
    url('../../fonts/gotham-font/Gotham-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/gotham-font/Gotham-LightItalic.eot');
  src: url('../../fonts/gotham-font/Gotham-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/gotham-font/Gotham-LightItalic.woff2') format('woff2'),
    url('../../fonts/gotham-font/Gotham-LightItalic.woff') format('woff'),
    url('../../fonts/gotham-font/Gotham-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/gotham-font/Gotham-BlackItalic.eot');
  src: url('../../fonts/gotham-font/Gotham-BlackItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/gotham-font/Gotham-BlackItalic.woff2') format('woff2'),
    url('../../fonts/gotham-font/Gotham-BlackItalic.woff') format('woff'),
    url('../../fonts/gotham-font/Gotham-BlackItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/gotham-font/Gotham-BookItalic.eot');
  src: url('../../fonts/gotham-font/Gotham-BookItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/gotham-font/Gotham-BookItalic.woff2') format('woff2'),
    url('../../fonts/gotham-font/Gotham-BookItalic.woff') format('woff'),
    url('../../fonts/gotham-font/Gotham-BookItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

// Blox

@font-face {
  font-family: 'Blox';
  src: url('../../fonts/blox/BloxBRK.eot');
  src: url('../../fonts/blox/BloxBRK.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/blox/BloxBRK.woff2') format('woff2'),
    url('../../fonts/blox/BloxBRK.woff') format('woff'),
    url('../../fonts/blox/BloxBRK.ttf') format('truetype'),
    url('../../fonts/blox/BloxBRK.svg#BloxBRK') format('svg');
  font-weight: normal;
  font-style: normal;
}
