// Project showcase styling
section.project-showcase {

    .flickity-prev-next-button {
      display: none;
    }

    @include media($desktop) {
      .flickity-prev-next-button {
        display: inline;
      }
    }


  .project-showcase-container {
    height: 500px;
    background-color: $color_blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem;



    @include media($desktop) {
      height: 685px;
      justify-content: space-evenly;
    }


    .showcase-header {
      color: $color_white;
      margin-bottom: 3rem;
    }

    .single-project-container {
      width: 100%;

      @include media($desktop) {
        display: flex;
        justify-content: center;
      }

      .project-desc {
        visibility: hidden;
        height: 0px;

        @include media($desktop) {
          visibility: visible;
          font-size: $font_size_main;
          margin-left: 4rem;
          text-align: left;
          width: 450px;
        }
      }
    }
  }
}