// Front page Testimonials styling
section.testimonials-container {
  background: $color_yellow;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .testimonials-slider {
    .flickity-prev-next-button {
      display: none;
    }
    @include media($desktop) {
      .flickity-prev-next-button {
        display: inline;
      }
    }
  }

  h2 {
    margin: 0px;
  }

  .testimonials-header {
    color: $color_dark_grey;
  }
  .testimonial-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .testimonial-photo {
    order: 1;
    width: 15rem;
    height: 15rem;
    border-radius: 120px;
    margin-bottom: 2rem;
  }

  .testimonial-content {
    order: 2;
    width: 22rem;
    line-height: 1.2rem;
  }
}
