// Front page Testimonials styling
section.testimonials-container {
  background: $color_yellow;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .testimonials-slider {
    .flickity-prev-next-button {
      display: none;
    }
    @include media($desktop) {
      .flickity-prev-next-button {
        display: inline !important;
      }
    }
  }

  h2 {
    margin: 0px;
  }

  .testimonials-header {
    color: $color_dark_grey;
  }

  .testimonial-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .testimonial-photo {
    order: 1;
    width: 15rem;
    height: 15rem;
    // transform:translateY(-2rem);
    border-radius: 120px;
  }

  .testimonial-content {
    order: 2;
    width: 20rem;
  }
}
