body.home {


.home-hero-banner {
  // Desktop css 
  position: relative;
  img {
  height: 100vh;
  object-fit: cover;
  filter: brightness(65%);
  }
  .home-hero-text {
      position: absolute;
      // color: #FFFFFF;
      top: 0;
      transform: translate(0, 50%);
      text-align: center;
      z-index: 1;
    }
  }
}