body.home {
  text-align: center;

  h2 {
    font-size: $font_size_h2+6px;

    @include media($desktop) {
      font-size: $font_size_h2 + 20px;
    }
  }


  // Hero banner styling
  .home-hero-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Breakpoint mixin
    @include media($desktop) {
      flex-direction: row;
    }

    // Hero image styling
    img {
      height: 100vh;
      max-width: 100vw;
      object-fit: cover;
      object-position: 65%;
      filter: brightness(65%);

      // Breakpoint mixin
      @include media($desktop) {
        height: 520px;
        width: 100%;
      }
    }

    // Hero banner text styling
    .home-hero-text {
      position: absolute;
      color: #FFFFFF;
      z-index: 1;
      text-align: center;
      line-height: 1.5;

      // Breakpoint mixin
      @include media($desktop) {
        top: 30%;
      }

      h1 {
        width: 80%;
        font-size: $font-size_h1;
        margin: auto;
        margin-bottom: 2rem;
        color: $color_white;

        @include media($desktop) {
          width: $base__space-unit + 40rem;
        }
      }
    }

    // Banner button styling
    .white-btn {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1rem;
      padding: 0.75rem 1rem;

      @include media($desktop) {
        padding: 1rem 2.25rem;
      }
    }
  }

  // Approaches styling
  .approaches-container {
    display: flex;
    flex-direction: column;

    .approaches-wrapper {
      @include media($desktop) {
        display: flex;
        margin: auto;
      }
    }

    // Approach item styling
    .approach-item {
      margin: $base__space-unit + 0.5rem;

      img {
        height: 165px;
        width: 165px;
        margin-bottom: -30px;
      }

      h3 {
        font-size: 1.80rem;
      }

      p {
        max-width: 320px;
        margin: 0 auto;
      }
    }
  }

  // Project showcase styling
  .project-showcase-container {
    height: 500px;
    background-color: $color_blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem;

    .showcase-header {
      color: $color_white;
      margin-bottom: 3rem;
    }

    .single-project-container {
      width: 100%;
    
    .project-desc {
      visibility: hidden;
      height: 0px;
    }
  }
}

// desktop
  // .project-showcase-container {
  //   height: 685px;
  //   background-color: $color_blue;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-evenly;

    // .showcase-header {
    //   color: $color_white;
    // }

  //   .single-project-container {
  //     display: flex;
  //     justify-content: center;
  //     width: 100%;

  //     .project-desc {
  //       font-size: $font_size_main;
  //       margin-left: 4rem;
  //       text-align: left;
  //       width: 450px;
  //     }
  //   }
  // }

  // Latest events styling
  .latest-events-container {

    .events-wrapper {
      display: flex;
      flex-direction: column;
      .event-container {
        display: flex;
        text-align: left;
        border: 1px solid lightgrey;
        border-radius: 4px;
        box-shadow: 0 1px 4px $color_black;
        margin: 0.4rem auto;
        width: 400px;
        height: 101px;
        
        img {
          height: 100px;
          width: 100px;
          margin-right: 0.5rem;
          border-radius: 4px 0 0 4px;
        }

        .event-text {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          width: 100%;
          padding: 1rem;

          h3,
          h2 {
            margin: 0;
          }
          .event-date {
            text-transform: uppercase;
            font-weight: 200;
            font-size: $font_size_main - 4px;
          }
          .event-title {
            font-size: $font_size_main;
            margin-bottom: auto;
          }
          .event-location {
            margin-top: auto;
          }
        }
        .more-comm-posts {
          a {
          font-weight: 200;
        }
      }
      }
    }

    // .events-wrapper {
    //   display: flex;
    //   justify-content: center;

    //   .event-container {
    //     margin: 0 3rem;
    //     .event-time {
    //       text-transform: uppercase;
    //       font-size: $font_size_main - 2px;
    //       font-weight: 200;
    //       color: $color_paragraph;
    //     }

    //     .event-title {
    //       font-size: $font_size_main + 2px;
    //       color: $color_black;
    //     }

    //     .event-location {
    //       color: $color_paragraph;
    //     }

    //   }
    // }
  }
  

  .testimonials-container {
    background: $color_yellow;
    height: 80vh;
    display: flex;
    flex-direction: column;

  }

    // Desktop
    // height: 520px;
    // background-color: $color_yellow;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;

    // .testimonials-header {
    //   color: $color_white;
    // }

    // .single-testimonial-container {
    //   display: flex;
    //   justify-content: center;
    //   width: 100%;

    //   .testimonial-desc {
    //     font-size: $font_size_main;
    //     margin-left: 4rem;
    //     text-align: left;
    //     width: 450px;
    //   }
    // }
  }
// }