body.home {
  text-align: center;

  h2 {
    font-size: $font_size_h2+6px;

    @include media($desktop) {
      font-size: $font_size_h2 + 20px;
    }
  }

  button {
    font-weight: 700;
    text-transform: uppercase;
    border-color: $color_blue;

    &:hover {
      p {
        color: $color_white
      }
    }

    p {
      color: $color_blue;
    }
  }


  @import 'fp-hero';
  @import 'fp-approaches';
  @import 'fp-projectshowcase';
  @import '_fp-latestevents';


  .testimonials-container {
    background: $color_yellow;
    height: 80vh;
    display: flex;
    flex-direction: column;

    .testimonial-photo {
      width: 12rem;
      height: 12rem;
    }

    .testimonials-content {
      width: 10rem;
      height: 10rem;
    }
  }

  // Desktop
  // height: 520px;
  // background-color: $color_yellow;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;

  // .testimonials-header {
  //   color: $color_white;
  // }

  // .single-testimonial-container {
  //   display: flex;
  //   justify-content: center;
  //   width: 100%;

  //   .testimonial-desc {
  //     font-size: $font_size_main;
  //     margin-left: 4rem;
  //     text-align: left;
  //     width: 450px;
  //   }
  // }
}