.site-header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.125rem 0.75rem;

  button {
    background: none;
    padding: 0;
    border: none;
  }
  i {
    color: $color_blue;
    background: none;
    border: none;
    padding: 0;
  }

  .nav-links {
    display: none;
  }
  //opened menu in mobile version
  .toggle-menu {
    position: absolute;
    display: flex;

    padding: 0;
    margin: 0;
    height: 100vh;
    width: 75vw;
    background-color: $color_blue;
    top: 0;
    right: 0;
    a {
      color: $color_white;
    }
    li {
      padding: 0.5rem 2rem;
    }
  }
  li {
    font-family: $font_main;
    text-transform: uppercase;
  }

  img {
    height: 4.75rem;
  }

  @include media($tablet) {
    padding: 0.75rem 4vw;
    align-items: center;

    .mobile-franchise-link {
      display: none;
    }
    button {
      display: none;
    }

    .nav-links {
      display: flex;
      align-items: center;

      .menu {
        display: flex;

        a {
          color: $color_black;
        }
        li {
          display: block;
          padding: 1rem 1.5rem;
          &:last-child {
            padding-right: 4rem;
            border-right: 1px solid $color_black;
          }
        }
      }
    }
  }
}

.request-info-link {
  display: none;

  @include media($tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    color: $color_white;
    background-color: $color_blue;
    padding: 1rem 1.75rem;
    margin: 0 0 0 2rem;
    border-radius: 0.25rem;
  }
}

.franchise-link {
  display: none;

  @include media($desktop) {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0;
    background-color: $color_grey;
    a {
      display: flex;
      justify-content: flex-end;
      margin-right: 4vw;
      font-weight: lighter;
    }
  }
}

.site-content {
  @include media($tablet) {
    margin: 0 4vw;
  }
}
