.site-header {
  display: flex;
  img {
    height: 50px;
  }
  .main-navigation {
    .menu {
      display: flex;

      &:last-child {
      }
    }
  }
}

.site-content {
  @include media($tablet) {
    margin: 0 6%;
  }
}
