.selector-container {
  padding: 2rem $site-padding;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  h4 {
    margin: 0;
  }
  select {
    width: 100%;
  }
}
.locations-button-container {
  display: flex;
  justify-content: space-around;
  button {
    width: 192px;
    font-size: 1rem;
  }
}
