// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// media query
@mixin media($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

// Mobile card
@mixin mobile-card {
  display: flex;
  text-align: left;
  box-shadow: 0 0.5px 3px $color_black;
  border-radius: 6px;
  width: 90%;
  height: 105px;
  margin: 1rem auto;
  overflow: hidden;
  .image-container {
    height: 100px;
    width: 120px;
  }

  .post-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0 1rem 1rem;
    div {
      overflow: hidden;
    }
    h3,
    h2 {
      margin: 0;
    }
    .post-data {
      color: $color_paragraph;
      text-transform: uppercase;
      font-weight: 200;
      font-size: $font_size_main - 4px;
    }
    .post-title {
      font-size: $font_size_main;
      font-family: $font_header;
    }
    p {
      align-self: end;
    }
  }
}

// Desktop card
@mixin desktop-card {
  box-shadow: 0 1px 4px $color_black;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  overflow: hidden;
  .image-container {
    width: 100%;
    min-height: 65%;
    display: block;
    overflow: hidden;
  }
  img {
    display: none;
  }
  .post-meta {
    border-top: 1px solid $color_grey;
    box-shadow: none;
    min-height: 35%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
      max-height: 70%;
      overflow: hidden;
      font-family: $font_main;
    }
    .post-title {
      color: $color_paragraph;
      display: block;
    }
    .post-data {
      color: $color_paragraph;
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 0.75rem;
      margin: 0;
    }
    .post-title {
      margin: 0;
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
      font-family: $font_main;
      color: $color_blue;
      text-transform: uppercase;
    }
  }
}
