// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// media query
@mixin media($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin max-media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

/*----------------------------------------------------------------------------------------------------------------------------
# Mobile Card
----------------------------------------------------------------------------------------------------------------------------*/
@mixin mobile-card {
  display: flex;
  text-align: left;
  box-shadow: 0 0.5px 3px $color_black;
  border-radius: $border-radius;
  width: 90%;
  height: 105px;
  margin: 1rem auto;
  overflow: hidden;
  .image-container {
    width: 120px;
  }

  .post-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0 1rem 1rem;
    div {
      overflow: hidden;
      max-height: 50%;
    }
    h3,
    h2 {
      margin: 0;
    }
    .post-data {
      color: $color_paragraph;
      text-transform: uppercase;
      font-weight: 200;
      font-size: $font_size_main - 4px;
    }
    .post-title {
      font-size: $font_size_main;
      font-family: $font_header;
    }
    p {
      align-self: end;
    }
  }
}

/*----------------------------------------------------------------------------------------------------------------------------
# Desktop Card
----------------------------------------------------------------------------------------------------------------------------*/
@mixin desktop-card {
  box-shadow: 0 1px 4px $color_black;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  overflow: hidden;
  margin: 0;
  .image-container {
    width: 100%;
    min-height: 65%;
    display: block;
    overflow: hidden;
  }

  .post-meta {
    border-top: 1px solid $color_grey;
    box-shadow: none;
    min-height: 35%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
      max-height: 70%;
      overflow: hidden;
      font-family: $font_main;
    }
    .post-title {
      color: $color_paragraph;
      display: block;
    }
    .post-data {
      color: $color_paragraph;
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 0.75rem;
      margin: 0;
    }
    .post-title {
      margin: 0;
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
      font-family: $font_main;
      color: $color_blue;
      text-transform: uppercase;
    }
  }
}

/*----------------------------------------------------------------------------------------------------------------------------
# Classes Desktop Card
----------------------------------------------------------------------------------------------------------------------------*/
@mixin classes-desktop-card {
  display: flex;
  flex-direction: row;
  border-radius: $border-radius;
  border: 1px solid $color_black;
  width: 100%;
  height: 235px;
  margin: 4rem 0;
  overflow: hidden;
  box-shadow: none;

  .image-container {
    width: 24%;
    height: 100%;
  }

  .post-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 76%;
    height: 100%;

    padding: 1.5rem;

    .class-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 75%;
      .post-title {
        font-size: 1.75rem;
      }
      .content-container {
        p {
          text-transform: none;
          color: $color_paragraph;
        }
      }
    }

    h3,
    h2 {
      margin: 0;
    }
    .post-data {
      color: $color_paragraph;
      text-transform: uppercase;
      font-weight: 200;
      font-size: $font_size_main - 4px;
    }
    .post-title {
      font-size: $font_size_main;
      font-family: $font_header;
    }
    p {
      align-self: end;
    }
  }

  .program-subfields {
    display: flex;
    :first-child {
      &::after {
        padding: 0 0.5rem;
        content: '|';
      }
    }
  }
  .link-container {
    display: flex;
    justify-content: flex-end;
    .find-classes-button {
      z-index: 99;
      color: $color_white;
      background-color: $color_blue;
      font-family: $font_header;
      font-weight: bold;
      justify-self: flex-end;
      font-size: 1rem;
      text-transform: uppercase;
      padding: 0.75rem 2.25rem;
      &:hover {
        color: $color_blue;
        background-color: $color_white;
        border-color: $color_blue;
        border: 1px solid $color_blue;
      }
    }
  }
}

/*----------------------------------------------------------------------------------------------------------------------------
# Classes Mobile Card
----------------------------------------------------------------------------------------------------------------------------*/
@mixin classes-mobile-card {
  box-shadow: 0 1px 4px $color_black;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 100%;
  overflow: hidden;
  margin: 1rem 0;
  .image-container {
    width: 100%;
    min-height: 30%;
    display: block;
    overflow: hidden;
  }

  .post-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    padding: 1rem;

    .class-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 70%;
      .post-title {
        font-size: 1rem;
      }
      .content-container {
        overflow: hidden;
        p {
          font-size: 0.75rem;
          text-transform: none;
          color: $color_paragraph;
        }
      }
    }

    h3,
    h2 {
      margin: 0;
    }
    .post-data {
      color: $color_paragraph;
      text-transform: none;
      font-weight: bold;
      font-size: $font_size_main - 4px;
    }
    .post-title {
      font-size: $font_size_main;
      font-family: $font_header;
    }
    p {
      align-self: end;
    }
  }

  .program-subfields {
    display: flex;
    :first-child {
      &::after {
        padding: 0 0.5rem;
        content: '|';
      }
    }
  }
  .link-container {
    display: flex;
    justify-content: center;
    .find-classes-button {
      z-index: 99;
      color: $color_white;
      background-color: $color_blue;
      font-family: $font_header;
      font-weight: bold;
      justify-self: flex-end;
      font-size: 1rem;
      text-transform: uppercase;
      padding: 0.75rem 2.25rem;
      &:hover {
        color: $color_blue;
        background-color: $color_white;
        border-color: $color_blue;
        border: 1px solid $color_blue;
      }
    }
  }
}
