.program-classes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 2rem $site-padding;
  line-height: 1.75;
  p {
    font-size: 0.9rem;
  }
  .classes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem 2rem 0;
  }
  .chat-bubble {
    border: 1px solid $color_grey;
    box-shadow: 0 1px 4px $color_black;
    border-radius: 6px;
    width: 100%;
    padding: 2rem 0 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 40%;
      width: 35%;
    }
  }
}
