.program-classes {
  overflow: hidden;
  padding: 2rem $site-padding-mobile;
  display: flex;
  flex-direction: column;
  @include media($tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 2rem $site-padding;
  }
  p {
    font-size: 0.9rem;
  }
  .classes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 4rem 0;
    @include media($tablet) {
      padding: 0 2rem 2rem 0;
    }
  }
  .chat-bubble {
    box-shadow: 0 0.5px 3px $color_black;
    border-radius: $border-radius;
    width: 100%;
    padding: 4rem $site-padding-mobile;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media($tablet) {
      padding: 2rem 0 2rem 2rem;
    }
  }
  .block-man-chat-mobile {
    position: absolute;
    display: block;
    width: 120px;
    top: -18%;
    right: -2%;
    z-index: 1;
    border-radius: 50%;
    @include media($tablet) {
      display: none;
    }
  }
  .hide-block-man {
    z-index: -1;
  }

  .block-man-chat {
    display: none;
    @include media($tablet) {
      display: block;
      height: 40%;
      width: 35%;
    }
  }
}
