.courses-container {
  padding: 0 $site-padding-mobile;

  @include media($desktop) {
    padding: 0 $site-padding;
  }
  .class-card {
    z-index: -1;
    @include classes-mobile-card;
    @include media($desktop) {
      @include classes-desktop-card;
    }
  }
}
