.programs-container {
  padding: 0 $site-padding-mobile;

  @include media($desktop) {
    padding: 0 $site-padding;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  .program-card {
    @include mobile-card;
    width: 100%;
    flex-direction: row-reverse;

    .post-meta {
      .post-data,
      h3 {
        color: $color_white;
      }
      .program-subfields {
        display: flex;
        :first-child {
          &::after {
            padding: 0 0.5rem;
            content: '|';
          }
        }
      }
    }
    @include media($desktop) {
      background: none !important;
      @include desktop-card;
      height: 325px;

      .image-container {
        min-height: 50%;
      }
      .post-meta {
        min-height: 50%;
        .program-subfields {
          display: flex;
          flex-direction: column;
          :first-child {
            &::after {
              content: none;
            }
          }
        }
      }
    }
  }
}
