.program-curriculum {
  padding: 2rem $site-padding;
  display: flex;
  flex-direction: column;
  @include media($desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    line-height: 1.75;
  }
  p {
    font-size: 0.9rem;
  }
  img {
    @include mobile-card;
    object-fit: cover;
    object-position: center;
    height: 200px;
    @include media($desktop) {
      border-radius: $border-radius;
      height: 400px;
      width: 100%;
    }
  }
  .curriculum {
    display: flex;
    flex-direction: column;
    @include media($desktop) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 400px;
      padding: 1rem;
    }
  }
  .additional-info {
    display: flex;
    flex-direction: column;
    @include media($desktop) {
      width: 100%;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
    }
  }
}
