.programs-container {
  padding: 0 $site-padding-mobile;

  @include media($tablet) {
    padding: 0 $site-padding;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  .program-card {
    @include mobile-card;
    width: 100%;
    flex-direction: row-reverse;
    .image-container {
      height: 100%;
      width: 100px;
    }
    .post-meta {
      .post-data {
        font-size: 11px;
        color: $color_white;
        @include media($tablet) {
          font-size: 14px;
        }
      }
      .post-title {
        font-size: 18px;
        color: $color_white;
        @include media($tablet) {
          font-size: 18px;
        }
      }
      .program-subfields {
        display: flex;
        p {
          text-transform: none;
        }
        :first-child {
          &::after {
            padding: 0 6px;
            content: '|';
          }
        }
      }
    }
    @include media($tablet) {
      background: none !important;
      @include desktop-card;
      height: 325px;
      margin: 0;

      .image-container {
        min-height: 50%;
      }
      .post-meta {
        min-height: 50%;
        .program-subfields {
          display: flex;
          flex-direction: column;
          :first-child {
            &::after {
              content: none;
            }
          }
        }
      }
    }
  }
}
