body.page-register {

  .gform_page {
    display: flex;
    flex-direction: column;
  }

  .gform_page_fields {
    display: flex;
  }

  .class-card-container {
    @include media($desktop) {
      display: flex;
      justify-content: space-evenly;
    }
    .classes-box {
      @include media($desktop) {
        height: 30rem;
        margin-bottom: 20rem;
      }
    }
  }

  .ginput_container {
    @include media($desktop) {
      display: flex;
      flex-direction: column;
    }
  }

  .gform_page_fields {
      input.medium {
        width: 10rem;
        @include media($desktop) {
          width: 20rem;
      }
    }
  }

  .gform_body {
    margin: 1rem;
  }

  .gf_progressbar_wrapper,
  .gform_title {
    display: none;
  }

  .enroll-page {
    display: block;
  }

  .gform_wrapper {

    .gsection {
      border: 0px;
    }

    .gfield_label {
      font-size: $font_size_main - 1;
      font-family: $font__main;
    }

    .gform_page_footer {
      display: flex;
      border: 0px;
      align-items: flex-end;

      input#gform_next_button_2_15 {
        margin: auto;

        @include media($desktop) {
          margin: 0;
        }
      }
    }

    #input_2_13_1 {
      width: 19.5rem;
    }
  }
}