body.page-register {
  .form-wrapper {
    @include media($desktop) {
      margin: 0 5rem;
    }
  }

  .gform_page {
    display: flex;
    flex-direction: column;
  }

  .class-card-container {
    @include media($desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
    }

    .classes-box {
      box-shadow: 0 0.5px 3px $color_black;
      margin: 0 1rem;
      position: relative;

      @include media($desktop) {
        height: 29rem;
        width: 28rem;
        grid-column-start: 2;
        margin-bottom: 8rem;
      }

      .post-meta {
        @include media($desktop) {
          padding-top: 2rem;
        }
      }
    }
  }

  .gform_page_fields {
    input.medium {
      @include media($desktop) {
        width: 20rem;
      }
    }
  }

  .gform_body {
    margin: 1rem;
  }

  .gf_progressbar_wrapper,
  .gform_title {
    display: none;
  }

  .enroll-page {
    display: block;
  }

  .gform_wrapper {
    @include media($desktop) {
      grid-column-start: 1;
      grid-row-start: 1;
    }

    .gsection {
      border: 0px;
    }

    .gfield_label {
      font-size: $font_size_main - 1;
      font-family: $font__main;
    }

    #input_2_17 {
      width: 6.5rem;
    }

    #input_2_13_4 {
      width: 11.8rem;
    }

    .gform_page_footer {
      display: flex;
      border: 0px;

      input#gform_next_button_2_15 {
        margin: auto;

        @include media($desktop) {
          transform: translate(15rem, 0);
        }
      }
    }

    #gform_page_2_2 {
      max-width: 30rem;

      .gform_page_footer {
        display: flex;

        @include media($desktop) {
          width: 57rem;
          justify-content: space-evenly;
        }
      }
    }
  }

  #input_2_13_1 {
    @include media($desktop) {
      max-width: 26.8rem;
    }
  }

  #input_2_5 {
    max-width: 30rem;
  }
}