body.page-request-info {

  .entry-title {
    display: none;
  }

  .entry-content {
    .gform_title {
      display: none;
    }

    p {
      display: none;
    }
  }


  .gform_body {
    
    @include media($desktop) {
      width: 80%;
      margin: 0 auto;

      #field_1_21,
      #field_1_20,
      #field_1_22 {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      #field_1_21 {
        grid-row-start: 1;
        grid-row-end: 2;
      }

      #field_1_20 {
        grid-row-start: 4;
        grid-row-end: 5;
      }

      #field_1_22 {
        grid-row-start: 7;
        grid-row-end: 8;
      }

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;

        li {
          grid-template-rows: 1fr 1fr;
        }

        li.gfield.gsection {
          margin: 0;
        }
      }

      input.medium {
        width: 100% !important;
      }
    }
  }

  .gform_wrapper {
    input#gform_submit_button_1 {
      align-self: center;
      width: 11rem;
      line-height: 0.5;

      &:hover {
        color: $color_blue;
        background-color: $color_white;
      }

      &:active,
      &:focus {
        background-color: darken($color_blue, 10%);
      }
    }

    .gfield_label {
      font-family: $font__main;
      font-size: 14px;
    }

    form {
      margin: 0 1rem;
    }

    .gsection {
      border: 0px;
    }

    .gform_footer {
      display: flex;
      flex-direction: column;
    }
  }

  .page-banner {
    background-size: inherit !important;
    background-position: right !important;

    .faq-button {
      justify-content: unset;
      align-self: center;
      margin-top: 1.5rem;
      width: 13rem;
      height: 2.2rem;
      padding: 0.6rem;
      border-color: $color-white;
    }
  }
}
