body.page-request-info {

  .page-banner {
    @include max-media(510px) {
      background-size: inherit !important;
      background-position: right !important;
    }

    .banner-text {
      @include media($desktop) {
        h1 {}
      }
    }

    .faq-button {
      align-self: center;
      margin-top: 1.5rem;
      width: 13rem;
      height: 2.2rem;
      padding: 0.5rem;
      border: 1px solid $color_white;

      @include media($tablet) {
        align-self: unset;
      }
    }
  }

  .entry-title {
    display: none;
  }

  .entry-content {
    .gform_title {
      display: none;
    }

    p {
      display: none;
    }
  }


  .gform_body {

<<<<<<< HEAD
    @include media($tablet) {
      width: 80%;
      margin: 0 auto;

      #field_1_21,
      #field_1_20,
      #field_1_22 {
        grid-column-start: 1;
        grid-column-end: 3;
      }
=======
    padding: 0 $site-padding-mobil;

    @include media($desktop) {
      padding: 0 $site-padding;
    }
>>>>>>> 86cf6dcbb8c34fd3103ccadcd2bcba07ce055c06

    #field_1_21,
    #field_1_20,
    #field_1_22 {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    #field_1_21 {
      grid-row-start: 1;
      grid-row-end: 2;
    }

    #field_1_20 {
      grid-row-start: 4;
      grid-row-end: 5;
    }

    #field_1_22 {
      grid-row-start: 7;
      grid-row-end: 8;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;

      li {
        grid-template-rows: 1fr 1fr;
      }

      li.gfield.gsection {
        margin: 0;
      }
    }

    input.medium,
    select {
      width: 100% !important;
    }
  }
}

.gform_wrapper {

  .gfield_label {
    font-family: $font__main;
    font-size: 14px;
  }

  form {
    margin: 0 1rem;
  }

  .gsection {
    border: 0px;
  }

  .gform_footer {
    display: flex;
    flex-direction: column;
  }

}