/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/* Headings */

h1 {
	font-size: 56px;
	font-weight: bold;
	font-family: $font_header;
}

h2 {
	font-size: 28px;
	font-weight: bold;
	font-family: $font_header;
}

/* Paragraphs */

p {
	font-size: 14px;
	font-family: $font_main;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}