// Structure

$base__space-unit: 1.5rem;

// Colors

$color_black: #000000;
$color_blue: #2ba2dd;
$color_green: #008362;
$color_grey: #eff1f6;
$color_yellow: #ffcc00;
$color_red: #ff2a30;
$color_white: #ffffff;

// Paragraph text

$color_paragraph: #333333;

// A11y colors
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

// Typography

$font_size_main: 16px;
$font_size_h2: 28px;
$font_size_h1: 56px;

$font__main: sans-serif;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// Media Query

$tablet: 900px;
